body {
    background: url('../images/jackpot3.svg');
    background-size: cover;
    background-position: top;
    color: #fff;
}

.results-table {
    border: 2px solid #fff;
    margin: 0;
}

.results {
    margin-top: 20px;
}

.results-table {
    padding: 8px;
    background: rgba(0,0,0,0.7);
}

.hidden {
    display: none;
}
